.tiles {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		postiion: relative;
		margin: -2.5em 2.5em 2.5em 0;
	}
.tiles article{
    position: relative;
    width: calc(50% - 2.5em);
    margin: 2.5em 0 0 2.5em;
    overflow: hidden;
}
.tiles article img {
    position: center;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.tiles .texts{
    font-size: 3vw;
    font-family: Adobe Song Std;
  text-align: center;
  background-color: white;
  position: absolute;
  width: 100%;
  height: 30%;
  line-height: 300%;
}
@media (hover: hover){
    .tiles .texts{
      opacity: 0;
      top: 80%;
      transition: 1s;
    }
    .tiles article:hover .texts{
        opacity: 0.8;
        top: 70%;
    }
}
@media (hover: none){
    .tiles .texts{
      opacity: 0.8;
      top: 70%;
    }
}


@media screen and (max-width: 1280px) {

    .tiles {
        margin: -1.25em 1.25em 1.25em 0;
    }

        .tiles article {
            margin: 1.25em 0 0 1.25em;
        }

}

@media screen and (max-width: 980px) {

    .tiles {
        margin: -2.5em 2.5em 2.5em 0;
    }

        .tiles article {
            width: calc(50% - 2.5em);
            margin: 2.5em 0 0 2.5em;
        }

}

@media screen and (max-width: 736px) {

    .tiles {
        margin: -1.25em 1.25em 1.25em 0;
    }

        .tiles article {
            width: calc(50% - 1.25em);
            margin: 1.25em 0 0 1.25em;
        }

            .tiles article:hover > .image {
                -moz-transform: scale(1.0);
                -webkit-transform: scale(1.0);
                -ms-transform: scale(1.0);
                transform: scale(1.0);
            }

}

@media screen and (max-width: 480px) {

    .tiles {
        margin: -1.75em 1.75em 1.75em 1.75em;
    }

        .tiles article {
            width: 100%;
            margin: 1.25em 0 0 0;
        }
        .tiles .texts {
            font-size: 5vw;
        }
}
